@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

body {
	overscroll-behavior: none;
	scroll-behavior: smooth;
	background: #eff9fc var(--background-url);
}

$fa-font-path: '@fortawesome/fontawesome-free/webfonts/';

@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/regular';
@import '@fortawesome/fontawesome-free/scss/brands';
@import 'content';
